<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijofinal1">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hijo Uno</h2>
	<p>Este componente tien descripcion del hijo uno y dos botones</p>
	
	
	<button on-click="handleClick">[[prop2]]</button>
	
	<button on-click="handleClick">[[prop3]]</button>
	
  </template>

  <script>
    /**
     * `element-hijofinal1`
     * hijo final 1
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijofinal1 extends Polymer.Element {
      static get is() { return 'element-hijofinal1'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-hijofinal1'
          },prop2: {
            type: String,
            value: 'boton 1'
          },prop3: {
            type: String,
            value: 'boton 2'
          }
        };
      }
	  
	  
	  handleClick(e) {
       	console.log(e.path[0].innerHTML);
		
		this.dispatchEvent(new CustomEvent('my-boton',
		{
			detail:{
					botonSel:e.path[0].innerHTML,
				}
		
		}));
      }
    }

    window.customElements.define(ElementHijofinal1.is, ElementHijofinal1);
  </script>
</dom-module>
